<footer class="footer fixed-bottom bg-white py-2 esMobile">
  <div class="container">
    <div class="row">
      <div class="col">
        <span routerLinkActive="active" style="font-size: 24px; " class="arritem-color">
          <a (click)="goLike()" [routerLink]="['/inicio']" routerLinkActive="router-link-active">
            <i class="fas fa-home"></i>
          </a>
        </span>
      </div>
      <div class="col">
        <span style="font-size: 24px; " class="arritem-color">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="col">
        <span routerLinkActive="active" style="font-size: 24px; " class="arritem-color">
          <a (click)="goLike()" [routerLink]="['/departamento/like']" routerLinkActive="router-link-active">
            <i class="fas fa-heart"></i>
          </a>
        </span>
      </div>
      <div class="col">
        <span style="font-size: 24px; " class="arritem-color">
          <i class="fas fa-map-marked-alt"></i>
        </span>
      </div>

      <div class="col">
        <span style="font-size: 24px; " class="arritem-color">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>
  </div>
</footer>
