<footer class="footer fixed-bottom py-2 esMobile">
  <div class="container">
    <div class="row">
      <div class="col">
        <span routerLinkActive="active" style="font-size: 24px; " class="">
          <a (click)="goLike()" [routerLink]="['/inicio']" routerLinkActive="router-link-active">
            <i class="fas fa-home"></i>
          </a>
        </span>
      </div>
      <div class="col">
        <span routerLinkActive="active" style="font-size: 24px; " class="">
          <a (click)="goLike()" [routerLink]="['/departamento/search']" routerLinkActive="router-link-active">
          <i class="fas fa-search"></i>
          </a>
        </span>
      </div>
      <div class="col">
        <span routerLinkActive="active" style="font-size: 24px; " class="">
          <a (click)="goLike()" [routerLink]="['/departamento/like']" routerLinkActive="router-link-active">
            <i class="fas fa-heart" ></i>
          </a>
        </span>
      </div>
      <div class="col">
        <span routerLinkActive="active" style="font-size: 24px;" class="">
          <a (click)="goLike()" [routerLink]="['/departamento/maps']" routerLinkActive="router-link-active">
            <i class="fas fa-map-marked-alt"></i>
          </a>
        </span>
      </div>

      <div class="col">
        <span routerLinkActive="active" style="font-size: 24px;" class="">
          <a (click)="goLike()" [routerLink]="['/usuario/profile']" routerLinkActive="router-link-active">
            <i class="fas fa-user"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
