<app-navbar-search (depto)="fintrarDepartamento($event)"></app-navbar-search>
<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-11 mx-sm-3 mx-md-1 col-lg-12">
        <div class="card card-stats" *ngFor="let departamento of listaDepartamentos; let indexDepto = index">
          <div class="card-header py-0">
            <span>{{ departamento.direccion }}</span>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="departamentoSeleccionado(departamento)"
            >
              <i class="material-icons md-24">more_vert</i>
            </button>
          </div>
          <div class="card-body ">
            <img
              src="https://picsum.photos/900/500?random&t={{ departamento.id }}"
              class="img-fluid"
              alt="departamento"
              src-fallback="./assets/img/default-img.png"
            />
          </div>
          <div class="card-footer">
            <footer class="blockquote-footer">${{ departamento.tarifa }}</footer>
          </div>
        </div>
      </div>

      <div class="my-5 ">
        <app-loading [size]="24" *ngIf="loading"></app-loading>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a>Reservar</a>
          </li>
          <li class="list-group-item">
            <a>Otra cosa</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
