<div class="wrapper">
  <div
    class="sidebar"
    data-color="white"
    data-background-color="uft"
    data-image="./assets/img/card-3.jpg"
  >
    <app-sidebar-cmp></app-sidebar-cmp>
    <app-sidebar-profile-movil></app-sidebar-profile-movil>
    <div class="sidebar-background" style="background-image: url(assets/img/sidebar-2.jpg)"></div>
  </div>
  <div class="main-panel main-panel-full">
    <app-navbar-profile></app-navbar-profile>
    <router-outlet></router-outlet>
    <app-footer-cmp></app-footer-cmp>
    <app-footer-cliente></app-footer-cliente>
  </div>
</div>
